body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #341461;
}
.banner-column{
    background-color: #24292E;
}
.navbar-container{
    top: 0;
    position: sticky;
    z-index: 2;
    background-color:  #102040;
}
.about-container{
    background-color: #002B36;
}
.education-container{
    background-color: beige;
}
.circle{
    background-color: rgb(59, 126, 228);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-body{
    text-align: justify;
    background-color: #EEEEEE;
}
.project-container{
    background-color: #24292E;
}
.form-container{
    background-color: #102040;
}
.inner-form{
    background-color: #002B36;
}
.footer{

    background-color: rgba(47, 124, 160, 0.322);
}
.circle-facebook{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #0b7beb;
}
.circle-facebook:hover{
    background-color: dimgray;
}
.circle-youtube{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #eb0b16;
}
.circle-youtube:hover{
    background-color: dimgray;
}
.circle-github{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #0d0d0e;
}
.circle-github:hover{
    background-color: dimgray;
}